# project
_site
.sass-cache
.vagrant
.vscode

# general
.DS_Store
Thumbs.db
ehthumbs.db

# IDE
Gemfile.lock
beautiful-jekyll-theme-*.gem
*.jekyll-cache

# Drawio
*.bkp

# Secrets
.env
.env.*
!.env.example
deployment/traefik/acme.json
deployment/traefik/traefik.yml
deployment/traefik/dynamic_conf/
deployment/traefik/logs/
deployment/traefik/certs/
deployment/traefik/ssl/
deployment/trarfik/.env
deployment/docker/.env
deployment/ansible/inventory
certbot/
.cache_ggshield
certs
