# project
_site
.sass-cache
.vagrant
.vscode

# general
.DS_Store
Thumbs.db
ehthumbs.db
.claude
.archive

# IDE
Gemfile.lock
beautiful-jekyll-theme-*.gem
*.jekyll-cache

# Drawio
*.bkp

# Secrets
.env
.env.*
!.env.example
certbot/
.cache_ggshield
certs

# Infra
infra/traefik/acme.json
infra/traefik/traefik.yml
infra/traefik/dynamic/
infra/traefik/logs/
infra/traefik/certs/
infra/traefik/ssl/
infra/trarfik/.env
infra/ansible/inventories

# Apps
apps/n8n/data
apps/web/astro-site/node_modules
apps/web/astro-site/.astro
apps/web/api/src/vendor
apps/web/api/src/vendor.lock
apps/web/api/src/tmp
apps/web/api/src/bin