---
import { getCollection } from 'astro:content';
import { render } from 'astro:content';

import BlogPostLayout from '../../layouts/BlogPostLayout.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import { getReadingTime } from '../../../public/assets/reading-time';

export async function getStaticPaths() {
  const pages = await getCollection('blog');

  const paths = pages.map((page) => ({
    params: { slug: page.id },
    props: page,
  }));

  return paths;
}

const page = Astro.props;

const { Content } = await render(page);
const readingTime = getReadingTime(page.body);
---

<BlogPostLayout {...page.data}>
  <article class="max-w-screen-md mx-auto p-4">
    <div class="mb-4">
      <h1 class="text-4xl font-extrabold text-gray-900">{page.data.title}</h1>
      <hr class="my-4 border-gray-300" />
    </div>
    <p class="text-gray-600 italic text-base mb-2">
      <FormattedDate date={page.data.pubDate} /> • {readingTime}
      minutos de lectura
    </p>
    <div class="prose prose-lg">
      <Content />
    </div>
  </article>
</BlogPostLayout>
