# {{ ansible_managed }}
[Unit]
Description=KubeLab node maintenance ({{ maintenance_timer_schedule }})

[Timer]
OnCalendar={{ maintenance_timer_schedule }}
Persistent=true
RandomizedDelaySec=3600

[Install]
WantedBy=timers.target
