---
import AboutLayout from '../layouts/AboutLayout.astro';

const heroImage = '/img/colorado.webp';

const aboutTitle = '¿Quién soy?';
const aboutSubtitle = 'Un ingeniero electrónico dando lecciones de DevOps';

const { lang } = Astro.props;
---

<AboutLayout title={aboutTitle} description={aboutSubtitle} heroImage={heroImage} lang={lang}>
  <div class="py-2">
    <p>
      <span class="fa fa-briefcase about-icon"></span>
      Comencé mi carrera en una startup española llamada Anafocus, diseñando pruebas y automatizando
      mediciones para la caracterización de dispositivos ASIC y sensores de imagen.
    </p>
    <p>
      Tras la adquisición de la empresa por Teledyne, me trasladé a sus sedes en Francia y China,
      donde me enfoqué en el middleware de cámaras, desarrollo de sistemas y soporte al cliente.
    </p>
    <p>
      Actualmente, como Ingeniero de Aplicaciones, gestiono el soporte técnico, el desarrollo de
      productos y las relaciones con los clientes. Mi rol incluye programar pruebas de concepto para
      preventas, desarrollar APIs y SDKs, e implementar técnicas de CI y CD para asegurar una
      integración fluida y confiable para nuestros clientes. También entreno al equipo de ventas
      para ayudarles a presentar eficazmente nuestras soluciones.
    </p>
  </div>

  <div class="py-2">
    <p>
      <span class="fa fa-graduation-cap about-icon"></span>
      Me gradué en Ingeniería de Telecomunicaciones en la Universidad de Sevilla, donde equilibré mis
      estudios con el remo competitivo.
    </p>
    <p>
      Tras decidir centrarme en mi carrera, apliqué a la industria de semiconductores, llenando el
      espacio que había dejado el deporte competitivo en mi vida y completando mi título.
    </p>
    <p>
      Más adelante, completé un Máster en Electrónica y Sistemas Embebidos en la Universidad de
      Málaga, lo cual profundizó mi comprensión en sistemas embebidos y programación de bajo nivel.
    </p>
    <p>
      Esto me motivó a orientarme hacia roles de software, llevándome a un segundo Máster en
      Desarrollo de Aplicaciones Nativas en la Nube en la Universidad Rey Juan Carlos, donde me
      especialicé en computación en la nube, microservicios y prácticas de DevOps.
    </p>
  </div>

  <div class="py-2">
    <p>
      <span class="fa fa-code about-icon"></span>
      Me apasiona combinar mi formación técnica con aplicaciones prácticas, especialmente en computación
      en la nube y desarrollo de software.
    </p>
    <p>
      Por eso tengo este blog, para registrar mi aprendizaje y compartir mis experiencias con la
      comunidad.
    </p>
    <p>
      Cuento con certificaciones como LFCA, AWS Cloud Practitioner y Azure Fundamentals, y
      actualmente me preparo para certificaciones avanzadas en Linux, AWS y Kubernetes para afinar
      mis habilidades y mantenerme al día con las últimas tecnologías.
    </p>
  </div>

  <div class="py-2">
    <p>
      <span class="fa fa-globe-americas about-icon"></span>
      Crecí en Sevilla, España. He vivido y trabajado en todo el mundo, desde Grenoble, Francia, hasta
      Shenzhen, China.
    </p>
    <p class="py-1">
      En 2024, me mudé a Denver, EE.UU., y estoy emocionado por el próximo capítulo de mi vida.
    </p>
  </div>

  <div class="py-2">
    <p>
      <span class="fa fa-heart about-icon"></span>
      Fuera del trabajo, me mantengo activo remando, corriendo, jugando fútbol y practicando snowboard.
    </p>
    <p>
      Mantenerme activo me ayuda a mantener un equilibrio saludable entre la vida personal y
      profesional.
    </p>
  </div>

  <div class="py-2">
    <p>
      <span class="fa fa-file-alt about-icon"></span>
      Puedes acceder a mi CV
      <a
        class="no-underline"
        href="https://mlorente.dev/cv/CV_ManuelLorenteAlman.pdf"
        target="_blank"
        rel="noopener"><b>aquí.</b></a
      >
    </p>
  </div>

  <div class="py-2">
    <p>
      <span class="fa fa-envelope about-icon"></span>
      Si deseas conectar, puedes
      <a class="no-underline" href="mailto:hello@mlorente.dev?subject=Hola!"><b>email</b></a>
      contactarme o seguirme en
      <a class="no-underline" href="https://twitter.com/mlorentedev"><b>Twitter.</b></a>
    </p>
  </div>

  <div class="py-2">
    <p class="text-center">
      🌍Si he logrado ver más lejos, ha sido porque he subido a hombros de gigantes🌍
    </p>
  </div>
</AboutLayout>
