{{ ansible_managed | comment }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ k3s_traefik_acme_secret_name }}
  namespace: kube-system
type: Opaque
stringData:
  api-token: "{{ k3s_traefik_acme_cloudflare_token }}"
