{{ ansible_managed | comment }}
apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    ports:
      web:
        port: {{ k3s_traefik_http_port }}
        exposedPort: {{ k3s_traefik_http_port }}
      websecure:
        port: {{ k3s_traefik_https_port }}
        exposedPort: {{ k3s_traefik_https_port }}
      traefik:
        port: 9000
        expose:
          default: true
        exposedPort: 9000
    persistence:
      enabled: true
      storageClass: local-path
      size: 128Mi
{% if k3s_traefik_acme_enabled %}
    providers:
      kubernetesCRD:
        allowCrossNamespace: true
    additionalArguments:
      - "--api.dashboard=true"
      - "--api.insecure=true"
      - "--certificatesresolvers.letsencrypt.acme.dnschallenge=true"
      - "--certificatesresolvers.letsencrypt.acme.dnschallenge.provider={{ k3s_traefik_acme_dns_provider }}"
      - "--certificatesresolvers.letsencrypt.acme.email={{ k3s_traefik_acme_email }}"
      - "--certificatesresolvers.letsencrypt.acme.storage=/data/acme.json"
      - "--certificatesresolvers.letsencrypt.acme.dnschallenge.resolvers={{ k3s_traefik_acme_dns_resolvers }}"
      - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
      - "--entrypoints.web.http.redirections.entryPoint.scheme=https"
      - "--entrypoints.web.http.redirections.entryPoint.permanent=true"
    env:
      - name: CF_DNS_API_TOKEN
        valueFrom:
          secretKeyRef:
            name: {{ k3s_traefik_acme_secret_name }}
            key: api-token
{% endif %}
