# MkDocs build output
site/
mkdocs.yml

# Python artifacts
__pycache__/
.py[cod]
.pyo
.pyd
.mypy_cache/
.pytest_cache/

# Virtual environments
.venv/
venv/

# Environment files
.env
.env.local
.env.dev
.env.staging
.env.prod
!.env..example

# OS and editor files
.DS_Store
Thumbs.db
