---
const { button_text = 'Darme de baja' } = Astro.props;
const backendUrl = import.meta.env.PUBLIC_BACKEND_URL;
---

<div class="bg-cyan-700 text-white p-4 rounded-md max-w-xs mx-auto my-4">
  <form 
    hx-post="/api-placeholder"
    hx-target="#status-message"
    hx-swap="innerHTML"
    class="flex flex-col gap-6"
    data-api-form
    data-api-endpoint="unsubscribe"
    data-backend-url={backendUrl}
    >
    <div>
      <input
        type="email"
        name="email"
        placeholder="Tu correo electrónico"
        required
        class="w-full p-2 text-cyan-700 rounded-md text-sm focus:outline-none focus:ring-1 focus:ring-cyan-300"
      />
    </div>
    <button
      type="submit"
      class="w-full px-4 py-1.5 bg-white text-cyan-700 rounded-md text-sm font-medium hover:bg-cyan-100 transition-colors"
    >
      {button_text}
    </button>
  </form>
  <div id="status-message" class="mt-4 text-xs text-center"></div>
</div>