{% for app in apps %}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ app.name }}-config
  namespace: {{ namespace }}
  labels:
    app.kubernetes.io/name: {{ app.name }}
    app.kubernetes.io/part-of: kubelab
    app.kubernetes.io/managed-by: toolkit
data:
{% for key, value in app.env_vars.items() | sort %}
  {{ key }}: "{{ value }}"
{% endfor %}
{% endfor %}
